<!doctype html>
<html lang="{{ language }}">
  <head>
    <title>{{ eleventyNavigation.title }}</title>
  </head>
  <body>
    <h1>{{ eleventyNavigation.title }}</h1>
    language: {{ language }}
  </body>
</html>